# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [8]:
# Write your answer here
lst =[[1,2,3], [4,5], [6,7,8,9]]
for item in lst:
    for data in item:
        print(data)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [13]:
# Write your answer here
Example=[[10,20], [30], [5, 7, 8]]
count = 0
for item in Example:
    for num in item:
        count+=num
print("Sum of All Numbers=",count)

Sum of All Numbers= 80

## **3. Count how many even numbers are present in a nested list.**

In [14]:
# Write your answer here
Example=[[10,20], [30], [5, 7, 8]]
for i in Example:
    for num in i:
        if num%2==0:
            print(num)

10
20
30
8

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [ ]:
# Write your answer here
Example=[['hello', 'world'], ['python']]
for i in Example:
    for num in i:
        print(num.upper())

HELLO
WORLD
PYTHON

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [ ]:
# Write your answer here
Marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
# total = 0
for i in Marks:
    # print(i)
    summation=0
    for num in i:
        summation+=num
    print(summation)

255
210
259

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [39]:
# Write your answer here
lst1 = [[20,60,80],[2,3,40,50],[30,40,70]]
lst2=[]
for i in lst1:
    for num in i:
        if num>50:
            lst2.append(num)
lst2

[60, 80, 70]

## **7. Find the largest number inside a nested list.**

In [55]:
# Write your answer here
lst1 = [[20,60,80],[2,3,40,50],[30,40,70]]

max_value = lst1[0] 
maximum=max_value[0]
   

for i in lst1:             
    for num in i:          
        if num > maximum:
            maximum = num

print(maximum)

80

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [58]:
# Write your answer here
lst1=[[1,2], [3,4], [5]] 
lst2=[]
for i in lst1:
    for num in i:
        lst2.append(num)
lst2

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [3]:
# Write your answer here
numbers = [[10, -20, 30], [5, 15, -25], [0, 40, -10]]
for i in numbers:
    for num in range(len(i)):
        if i[num]<0:
            i[num]=0
numbers

[[10, 0, 30], [5, 15, 0], [0, 40, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [72]:
# Write your answer here
lst = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
len(lst)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [84]:
# Write your answer here
student={'A': {'age': 15, 'grade': 10},'B': {'age': 16, 'grade': 11}}
for name, details in student.items():
    print("name:", name, "Age:", details["age"])

name: A Age: 15
name: B Age: 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [90]:
# Write your answer here
student={'A': {'age': 15, 'marks': 90},'B': {'age': 16, 'marks': 85}}
for i,detail in student.items():
    detail['marks']+=5
student

{'A': {'age': 15, 'marks': 95}, 'B': {'age': 16, 'marks': 90}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [95]:
# Write your answer here
student={'A': {'age': 15, 'marks': 90}}
for i,details in student.items():
    print(details.keys())

dict_keys(['age', 'marks'])

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [96]:
# Write your answer here
student={'A': {'math': 85, 'science': 90},'B': {'math': 70, 'science': 88}}
for i,marks in student.items():
    if marks['math']>80:
        print(i)

A

## 15. Create a new dictionary of students whose age is above 15.

In [100]:
# Write your answer here
students = {'A': {'age': 15, 'marks': 90},'B': {'age': 16, 'marks': 85},'C': {'age': 17, 'marks': 92},'D': {'age': 14, 'marks': 78}}
new_students={}
for name, detail in students.items():
    if detail['age']>15:
        new_students[name]=detail
new_students

{'B': {'age': 16, 'marks': 85}, 'C': {'age': 17, 'marks': 92}}

## **16. Find which student scored highest in science.**

In [101]:
# Write your answer here
top_marks=0
student={'A': {'math': 85, 'science': 90},'B': {'math': 70, 'science': 88}}
for name, detail in student.items():
    for sub, marks in detail.items():
        if sub=='science':
            if marks>top_marks:
                top_marks=marks
                print('name:',name,"marks:",marks)

name: A marks: 90

## **17. Print employees who belong to the HR department from this dictionary.**

In [102]:
# Write your answer here
employees = {'E1': {'name': 'Arjun', 'department': 'HR'},'E2': {'name': 'Meera', 'department': 'Finance'},'E3': {'name': 'Rohan', 'department': 'HR'}}
for emp,detail in employees.items():
    for name,dept in detail.items():
        if dept=='HR':
            print("EmpID:",emp,"Department:",dept)

EmpID: E1 Department: HR
EmpID: E3 Department: HR

## **18. Delete all entries where the status is 'inactive'.**

In [133]:
# Write your answer here
users = {'U1': {'name': 'Aditi', 'status': 'active'},'U2': {'name': 'Rohan', 'status': 'inactive'},'U3': {'name': 'Meera', 'status': 'inactive'}}
for user,detail in list(users.items()):
    for nam, stat in detail.items():
        if stat=='inactive':
            del users[user]
print(users)

{'U1': {'name': 'Aditi', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [134]:
# Write your answer here
total_stock=0
stock = {'P1': {'name': 'Pen', 'quantity': 50},'P2': {'name': 'Notebook', 'quantity': 75},'P3': {'name': 'Eraser', 'quantity': 30}}
for num, detail in stock.items():
    for name, quan in detail.items():
        if name=="quantity":
            total_stock += quan
print(total_stock)

155

## **20. Convert all inner dictionary keys to uppercase.**

In [143]:
# Write your answer here
stock = {'P1': {'name': 'Pen', 'quantity': 50},'P2': {'name': 'Notebook', 'quantity': 75},'P3': {'name': 'Eraser', 'quantity': 30}}
for num,detail in stock.items():
    for name, quan in list(detail.items()):
        detail[name.upper()]=detail.pop(name)

stock

{'P1': {'NAME': 'Pen', 'QUANTITY': 50},
 'P2': {'NAME': 'Notebook', 'QUANTITY': 75},
 'P3': {'NAME': 'Eraser', 'QUANTITY': 30}}