### What is a function in Python?

In [61]:
# Function in python is used to write a code in it and when that function is called we only have to write arguments used for that.

### Write the correct syntax of a Python function.

In [ ]:
""" 
def function_name(parameters):
    print("")
    return value

function_name(Arguments)
"""

### What is the default return value of a function if no return statement is used?

In [ ]:
# Default return value of a function is "none" when no return statement is used.

### Define a function named hello() that prints "Hello World".

In [12]:
def hello():
    print("Hello World")
    return "Hello World"

hello()

Hello World

'Hello World'

### What is the difference between a parameter and an argument? Write a function with two parameters a and b that returns their sum.

In [ ]:
# Parameters are the variable defined in the function definition.
# Arguments are the values given to the parameters while function calling.

""" 
Ex.
    def add(a,b):---> Parameters
        summation = a+b
        return summation
    
    add(2,3)---> Arguments

    O/P:- 5
"""

### What are positional arguments? Give an example.

In [20]:
# Positional arguments means the arguments passed to the parameters in the correct order and parameters get that values based on their position

def add(a,b):
    print("a:",a)
    print("b:",b)
    return a+b
add(3,4)   # It means "a" gets the value "3" and "b" gets the value "4" by the position of parameters and arguments

a: 3
b: 4

7

### What are keyword arguments? Give an example.

In [21]:
# keyword arguments means the value of parameters which is not based on it's position... means it gets the values directly assigned by the parameters.
# ex

def info(name,age):
    print("Name:", name)
    print("Age:", age)
info(age=22, name="Aditi")

Name: Aditi
Age: 22

### What are default parameters? Write a function with a default parameter country="India" that prints "I live in <country>".

In [26]:
# default parameters have the default value assigned to it in the function definition and that parameter gets the default value when argument is not passed.

#Ex
def location(country="India"):
    print("I live in", country)
    #return "I live in",country
location()

I live in India

### Write a function square(n) that returns the square of a number.

In [30]:
def square(n):
    print(n**2)

square(2)
square(4)
square(6)

4
16
36

### What does *args mean in Python? Write a function that accepts any number of values using *args and prints them.

In [60]:
# *args means the variable length arguments given to the parameters. This arguments are stored in tuple.

#Ex

def value(*args):
    print(args)
    print(type(args))
value(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

### What does **kwargs mean? Write a function that prints all keyword arguments using **kwargs.

In [35]:
# **kwargs means the keyword arguments provided to the parameters and stored in dictionary format means it gets values in key value format.
#Ex
def info(**kwargs):
    print(kwargs)
info(Name="Aditi", Age="22")

{'Name': 'Aditi', 'Age': '22'}

### Write a function that returns two values: the sum and product of two numbers. Can a Python function return multiple values? How?

In [4]:
# Function returns two values / multiple values at the same time and it stores it in tuple format.
def op(a,b):
    add=a+b
    mul=a*b
    return add, mul
op(2,3)

(5, 6)

### Write a function even_or_odd(n) that returns "Even" or "Odd".

In [42]:
def even_or_odd(n):
    if n%2==0:
        print("Even")
    else:
        print("Odd")

even_or_odd(3)
even_or_odd(4)

Odd
Even

### Write an adapter function that takes a list of operations and executes add, sub, mul, div based on input. 

### Example: [ {"op": "add", "a": 10, "b": 20}, {"op": "mul", "a": 4, "b": 5} ]

In [63]:
def adapter(operations):
    for i in operations:
        op = i["op"]
        a = i["a"]
        b = i["b"]
        if op=="add":
            print(a+b)
        elif op=="mul":
            print(a*b)
        elif op=="sub":
            print(a-b)
        else:
            print(a/b)

operations=[{"op":"add","a":10,"b":2},{"op":"mul","a":10,"b":2}]

adapter(operations)

# def adapter(operations):
#     for i in operations:
#         if i["op"]=="add":
#             print(i["a"]+i["b"])
#         elif i["op"]=="mul":
#             print(i["a"]*i["b"])
#         elif i["op"]=="sub":
#             print(i["a"]-i["b"])
#         else:
#             print(i["a"]/i["b"])

# operations=[{"op":"add","a":10,"b":2},{"op":"mul","a":10,"b":2}]
# adapter(operations)

12
20

### Write a function process_students(data) that prints total marks and grade for each student.
- Example: [ {"name":"A", "marks":[80,90,70]}, {"name":"B", "marks":[60,75,65]} ] 
- Expected Output: Name: A | Total: 240 | Grade: A Name: B | Total: 200 | Grade: B

In [64]:
def process_students(data):
    for i in data:
        name = i["name"]
        marks = i["marks"]
        total = sum(marks)

        if total>=240:
            grade = "A"
        elif total>=200:
            grade = "B"
        else:
            grade = "None"

        print(f"Name:{name}|Total:{total}|Grade:{grade}")

data =[{"name":"A", "marks":[80,90,70]}, 
       {"name":"B", "marks":[60,75,65]}] 

process_students(data)

Name:A|Total:240|Grade:A
Name:B|Total:200|Grade:B

In [13]:
def process_students(data):
    for i in data:
        name = i["name"]
        marks = i["marks"]
        total = sum(marks)

        if total>240:
            grade = "A"
        elif total>200:
            grade = "B"
        else:
            grade = "None"

        print(f"Name:{name}|Total:{total}|Grade:{grade}")

data =[{"name":"A", "marks":[80,90,70]}, 
       {"name":"B", "marks":[60,75,65]}]

process_students(data)

Name:A|Total:240|Grade:B
Name:B|Total:200|Grade:None

### Create a function apply_discounts(products) that updates price after discount. 
- Example: [ {"name":"Laptop", "price":50000, "discount":10}, {"name":"Phone", "price":20000, "discount":5} ] 
- Expected Output: Laptop final: 45000 Phone final: 19000

In [1]:
def apply_discounts(products):
    for i in products:
        name = i["name"]
        price = i["price"]
        discount = i["discount"]
        discount_price = price - (price*discount/100)
        price = int(discount_price)
        print(f"name:{name},price:{price},discount:{discount}")

products=[{"name":"Laptop","price":50000,"discount":10},{"name":"Phone","price":20000,"discount":5}]

apply_discounts(products)

name:Laptop,price:45000,discount:10
name:Phone,price:19000,discount:5

In [19]:
def apply_discounts(products):
    for i in products:
        name = i["name"]
        price = i["price"]
        discount = i["discount"]
        discount_price = price - (price*discount/100)
        final = int(discount_price)
        print(f"{name} final:{final}")


products=[{"name":"Laptop","price":50000,"discount":10},{"name":"Phone","price":20000,"discount":5}]

apply_discounts(products)

Laptop final:45000
Phone final:19000

### Write a function generate_report(employees) that calculates bonus based on salary slabs. 
- Slabs: 
- salary > 50,000 → bonus = 15%, 
- salary 30,000–50,000 → bonus = 10%, 
- salary < 30,000 → bonus = 5%. 

#### Example employees = 
- [ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

In [ ]:
def generate_report(employees):
    for i in employees:
        id = i["id"]
        name = i["name"]
        age = i["age"]
        department = i["department"]
        salary = i["salary"]

        if salary>50000:
            bonus = 15/100
        elif salary>=30000 and salary<=50000:
            bonus = 10/100
        elif salary>30000:
            bonus = 5/100
        else:
            print("none")
        total_salary = int(salary+(salary*bonus))

        print(f"id:{id},name:{name},age:{age},department:{department},Salary:{total_salary}")

employees =[{"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
            {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
            {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
            {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
            {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

generate_report(employees)

id:101,name:Amit,age:28,department:IT,Salary:63250
id:102,name:Neha,age:24,department:HR,Salary:44000
id:103,name:Raj,age:31,department:Finance,Salary:74750
id:104,name:Simran,age:29,department:IT,Salary:69000
id:105,name:Vijay,age:35,department:Admin,Salary:38500

### Write a function get_employee_names(emp_list) that returns a list of all employee names.

In [34]:
def get_employee_name(emp_list):
    lst1=[]
    for i in emp_list:
        name=i["name"]
        lst1.append(name)
    print(lst1)

emp_list =[{"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
            {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
            {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
            {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
            {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

get_employee_name(emp_list)   

# def get_employee_names(emp_list):
#     for i in emp_list:
#         print(i)


# emp_list = ["Aditi","Tanmayee", "Aakanksha", "Ruchi", "Prajakta"]

# get_employee_names(emp_list)

['Amit', 'Neha', 'Raj', 'Simran', 'Vijay']

### Write a function filter_by_department(emp_list, dept) that returns employees belonging to a specific department.

In [3]:
def filter_by_department(emp_list,dept):
    lt_dept=[]
    for i in emp_list:
        if i["department"]==dept:
            lt_dept.append(i['name'])
    print(lt_dept)

list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
filter_by_department(list,"IT")

['Amit', 'Simran']

### Write a function highest_salary(emp_list) that returns the employee with the highest salary.

In [67]:
def highest_salary(emp_list):
    high_salary = 0
    for i in emp_list:
        id = i["id"]
        name = i["name"]
        age = i["age"]
        department = i["department"]
        salary = i["salary"]
        if salary > high_salary:
            high_salary = salary 
    print(f"id:{id},name:{name},age:{age},department:{department},salary:{high_salary}")
            



emp_list =[{"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
            {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
            {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
            {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
            {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

highest_salary(emp_list)

id:105,name:Vijay,age:35,department:Admin,salary:65000

In [42]:
def highest_salary(emp_list):
    high_salary = 0
    emp_name = None
    lst = []
    for i in emp_list:
        if i['salary'] > high_salary:
            high_salary = i['salary']
            emp_name = i['name']
            lst.append(emp_name)
    return lst,high_salary            



emp_list =[{"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 65000},
            {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
            {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
            {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
            {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

highest_salary(emp_list)

(['Amit'], 65000)

### Write a function average_salary(emp_list) that returns the average salary.

In [2]:
def average_salary(emp_list):
    total = 0
    count=0
    for i in emp_list:
        id = i["id"]
        name = i["name"]
        age = i["age"]
        department = i["department"]
        salary = i["salary"]
        total+=salary
        count+=1
    print(int(total/count))
    # print(f"id:,{id},name:,{name},age:,{age},department:,{department},salary:,{salary}")

emp_list =[{"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000},
            {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000},
            {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000},
            {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000},
            {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]

average_salary(emp_list)

51000

### Write a function salary_hike(emp_list, percent) that increases each salary by given percent.

In [5]:
def salary_hike(emp_list,percent):
    for i in emp_list:
        i['salary']=int(i['salary']+(i['salary']*(percent/100)))
        print("id:",i['id'],',',"name:",i['name'],',',"age:",i['age'],',',"department:",i['department'],',',"salary:",i['salary'])
emp_list=[ {"id": 101, "name": "Amit", "age": 28, "department": "IT", "salary": 55000}, 
           {"id": 102, "name": "Neha", "age": 24, "department": "HR", "salary": 40000}, 
           {"id": 103, "name": "Raj", "age": 31, "department": "Finance", "salary": 65000}, 
           {"id": 104, "name": "Simran", "age": 29, "department": "IT", "salary": 60000}, 
           {"id": 105, "name": "Vijay", "age": 35, "department": "Admin", "salary": 35000} ]
salary_hike(emp_list,10)

id: 101 , name: Amit , age: 28 , department: IT , salary: 60500
id: 102 , name: Neha , age: 24 , department: HR , salary: 44000
id: 103 , name: Raj , age: 31 , department: Finance , salary: 71500
id: 104 , name: Simran , age: 29 , department: IT , salary: 66000
id: 105 , name: Vijay , age: 35 , department: Admin , salary: 38500

### Write out_of_stock(items) that returns all products with stock < 20.

In [9]:
def out_of_stock(items):
    for i in items:
        name = i["name"]
        stock = i["stock"]
        if stock<20:
            print(f"name:{name} stock:{stock}")

items = [{"name": "Milk", "stock": 10},
    {"name": "Bread", "stock": 25},
    {"name": "Eggs", "stock": 18},
    {"name": "Butter", "stock": 5},
    {"name": "Cheese", "stock": 40},
    {"name": "Soap", "stock": 12},
    {"name": "Shampoo", "stock": 30}]

out_of_stock(items)

name:Milk stock:10
name:Eggs stock:18
name:Butter stock:5
name:Soap stock:12

### Write total_inventory_value(items) → sum(price * stock).

In [32]:
def total_inventory_value(items):
    for i in items:
        name = i["name"]
        price = i["price"]
        stock = i["stock"]
        total = sum([price*stock])
    print(total)
    
items = [
    {"name": "Milk", "price": 50, "stock": 20},
    {"name": "Bread", "price": 30, "stock": 15},
    {"name": "Eggs", "price": 6, "stock": 100},
    {"name": "Butter", "price": 120, "stock": 10},
    {"name": "Cheese", "price": 200, "stock": 8},
    {"name": "Soap", "price": 40, "stock": 25}
]

total_inventory_value(items)

1000

### Write search_product(items, name) → return matching product(s).

In [7]:
def search_product(items,name):
    result=[]
    for i in items:
        if name.lower() in i['name'].lower():
            result.append(i)
    print(result)

items = [
    {"id": 1, "name": "Notebook", "price": 50, "stock": 15},
    {"id": 2, "name": "Pen", "price": 10, "stock": 120},
    {"id": 3, "name": "Marker", "price": 30, "stock": 8},
    {"id": 4, "name": "Eraser", "price": 5, "stock": 25},
    {"id": 5, "name": "Stapler", "price": 80, "stock": 12}
]

search_product(items,'pen')

[{'id': 2, 'name': 'Pen', 'price': 10, 'stock': 120}]